.footer__link {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: .335s ease-in-out;
    display: block;
  }
  .footer__link:hover {
    opacity: .8;
  }
  @media (max-width: 425px) {
    .footer__link {
      margin: 0 0 32px 0;
      font-size: 24px;
      line-height: 24px;
    }
  }
  