.cover {
    margin: 0 auto 92px;
    max-width: 1184px;
    
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    .cover {
      max-width: 100%;
    }
  }
  @media (min-width: 321px) and (max-width: 768px) {
    .cover {
      margin: 0 0 88px 0;
      max-width: 100%;
    }
  }
  @media (max-width: 320px) {
    .cover {
      max-width: 100%;
      margin: 0 0 64px 0;
    }
  }
  