.cover__content {
    margin: 0 auto;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  @media (max-width: 425px) {
    .cover__content {
      margin: 0 auto;
      width: 288px;
    }
  }